%section.items-box-container.clearfix
  %h3.text-center
    シャネル 新着アイテム
  .items-box-content.clearfix
    - @chanel.each do |product|
      %section.items-box
        = link_to(product_path(product)) do
          .items-box-photo
            = image_tag product.images.first.image
          .items-box-body
            %h3.items-box-name.font-2
              = product.name
            .items-box-num.clearfix
              .items-box-price.font-5
                ¥ #{product.price}
              .items-box-likes.font-2
                %i.fas.fa-heart
              %p.item-box-tax
                （税込）
  .view-all
    %a 全ての商品を見る
%section.items-box-container.clearfix
  %h3.text-center
    ルイヴィトン 新着アイテム
  .items-box-content.clearfix
    - @louisvuitton.each do |product|
      %section.items-box
        = link_to(product_path(product)) do
          .items-box-photo
            = image_tag product.images.first.image
          .items-box-body
            %h3.items-box-name.font-2
              = product.name
            .items-box-num.clearfix
              .items-box-price.font-5
                ¥ #{product.price}
              .items-box-likes.font-2
                %i.fas.fa-heart
              %p.item-box-tax
                （税込）
  .view-all
    %a 全ての商品を見る
%section.items-box-container.clearfix
  %h3.text-center
    シュプリーム新着アイテム
  .items-box-content.clearfix
    - @supreme.each do |product|
      %section.items-box
        = link_to(product_path(product)) do
          .items-box-photo
            = image_tag product.images.first.image
          .items-box-body
            %h3.items-box-name.font-2
              = product.name
            .items-box-num.clearfix
              .items-box-price.font-5
                ¥ #{product.price}
              .items-box-likes.font-2
                %i.fas.fa-heart
              %p.item-box-tax
                （税込）
  .view-all
    %a 全ての商品を見る
%section.items-box-container.clearfix
  %h3.text-center
    ナイキ新着アイテム
  .items-box-content.clearfix
    - @nike.each do |product|
      %section.items-box
        = link_to(product_path(product)) do
          .items-box-photo
            = image_tag product.images.first.image
          .items-box-body
            %h3.items-box-name.font-2
              = product.name
            .items-box-num.clearfix
              .items-box-price.font-5
                ¥ #{product.price}
              .items-box-likes.font-2
                %i.fas.fa-heart
              %p.item-box-tax
                （税込）
  .view-all
    %a 全ての商品を見る
