.l-contener
  .mypage
    .mypage_contents
      .profile
        %h4.profile__title 本人情報の登録
        %p.profile__text お客さまのあんしん・あんぜんな取引のため、本人情報のご登録をお願いしております。
        .profile__intro-box
          = form_for @credit,url: {action: :create}  do |f|
            .form-group
              = f.label :card_number, "カード番号"
              %span.form-require 必須
              = f.text_field :card_number, placeholder: "半角英数のみ"
              %ul.card-list
                %li
                  = image_tag("credits/visa.svg", alt:"vise", class: "card_mark")
                %li
                  = image_tag("credits/master-card.svg", alt:"master-card" class: "card_mark")
                %li
                  = image_tag("credits/saison-card.svg", alt:"saison-card" class: "card_mark")
                %li
                  = image_tag("credits/jcb.svg", alt:"jcb" class: "card_mark")
                %li
                  = image_tag("credits/american_express.svg", alt:"american_express" class: "card_mark")
                %li
                  = image_tag("credits/dinersclub.svg", alt:"dinersclub" class: "card_mark")
                %li
                  = image_tag("credits/discover.svg", alt:"discover" class: "card_mark")
            .form-group
              = f.label [:expiration_monnth, :expiration_year], "有効期限"
              %span.form-require 必須
              %br
              = f.number_field :expiration_month, min: "1", max: "12", class: "number_field"
              年
              = f.number_field :expiration_year, min: "18", max: "28", class: "number_field"
              月
            .form-group
              = f.label :security_code, "セキュリティコード"
              %span.form-require 必須
              = f.text_field :security_code, placeholder: "カード背面4桁もしくは3桁の番号"
              %p.security-code__description
                %span.cricle-mark ?
                カード裏面の番号とは?
              .security-code__image
                %p カードの裏面をご参照ください
                = image_tag("credits/seq-card.png", alt:"カードの裏面説明")
            .actions
              = f.submit "追加する", class: 'btn-red'
  = render 'mypages/side_bar'
