.mypage__content-box
  .mypage__tabs
    =link_to "",class: "mypage__tab" do
      .mypage__tabs-list
        %ul
          %li.tab-active
            %h4.mypage__tabs-text おしらせ
    =link_to "",class: "mypage__tab" do
      .mypage__tabs-list
        %ul
          %li
            %h4.mypage__tabs-text やることリスト
  .mypage__item-list
    =link_to "",class: "mypage__item-link" do
      .mypage__item
        .mypage__item-figure
          =image_tag "//static-mercari-jp.akamaized.net/images/mercari_profile.png",class: "item-figure"
        %i.fa-angle-right.mypage__item-angle
        .mypage__item-text
          = "おしらせ"
        .mypage__item-time
          .fa-clock-o
            = " 2時間前"
    =link_to "",class: "mypage__item-link" do
      .mypage__item
        .mypage__item-figure
          =image_tag "//static-mercari-jp.akamaized.net/images/mercari_profile.png",class: "item-figure"
        %i.fa-angle-right.mypage__item-angle
        .mypage__item-text
          = "もじもじもじももじもじもじもじもじもじもじもじもじもじもじもじもじもじもじもじも"
        .mypage__item-time
          .fa-clock-o
            = " 4時間前"
  .mypage__item-to-index
    .link-to-item
      = link_to "" do
        %h4.view-index 一覧を見る


