- if user_signed_in?
  %section.product-message
    %ul.messages
      %li.clearfix
        .message-user
          .user-img
            = image_tag("user-icon.svg", class:"user-icon")
        .message-body
          .message-text
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          .message-icons.clearfix
            .icon-left
              %i.time
              %p.text 50日前
            .icon-right
              =link_to "",class: 'report' do
                %i.flag
          %i.balloon
      %li.clearfix
        .message-user
          .user-img
            = image_tag("user-icon.svg", class:"user-icon")
        .message-body
          .message-text
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          .message-icons.clearfix
            .icon-left
              %i.time
              %p.text 50日前
            .icon-right
              =link_to "",class: 'report' do
                %i.flag
          %i.balloon
      %li.clearfix
        .message-user
          .user-img
            = image_tag("user-icon.svg", class:"user-icon")
        .message-body
          .message-text
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          .message-icons.clearfix
            .icon-left
              %i.time
              %p.text 50日前
            .icon-right
              =link_to "",class: 'report' do
                %i.flag
          %i.balloon
      %li.clearfix
        .message-user
          .user-img
            = image_tag("user-icon.svg", class:"user-icon")
        .message-body
          .message-text
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          .message-icons.clearfix
            .icon-left
              %i.time
              %p.text 50日前
            .icon-right
              =link_to "",class: 'report' do
                %i.flag
          %i.balloon
      %li.caution
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %li.comment
        = form_for("") do |f|
          = f.text_area :text, class:"text-input"
          .actions
            = f.submit "コメントする", class: 'btn-gray'
