= render 'home/header'

%section.product-box-container.clearfix
  %h1.product-name
    #{@product.name}
  .product-main-box
    .product-img-box
      .product-img-carousel.slider
        - @images.each do |image|
          .product-img-box-main
            = image_tag image.image, alt:"バッグ"
          .product-img-box-main
            = image_tag image.image, alt:"バッグ2"
          .product-img-box-main
            = image_tag image.image, alt:"バッグ3"
          .product-img-box-main
            = image_tag image.image, alt:"バッグ4"
      .product-img-box-detail.thumb
        - @images.each do |image|
          .box-sub
            = image_tag image.image, alt:"バッグ"
          .box-sub
            = image_tag image.image, alt:"バッグ2"
          .box-sub
            = image_tag image.image, alt:"バッグ3"
          .box-sub
            = image_tag image.image, alt:"バッグ4"
    %table.product-info
      %tbody
        %tr
          %th 出品者
          %td
            =link_to("#{@sell_user.nickname}", "/")
            %div
              .product-user-rate
                %i.good
                %p.count 222
              .product-user-rate
                %i.normal
                %p.count 111
              .product-user-rate
                %i.bad
                %p.count 22
        %tr
          %th カテゴリー
          %td
            =link_to do
              %p.parent #{@sell_product_category.parent.parent.name}
            =link_to "",class: 'child-box' do
              %i.right
              %p.child #{@sell_product_category.parent.name}
            =link_to "",class: 'child-box' do
              %i.right
              %p.g-child #{@sell_product_category.name}

        %tr
          %th ブランド
          %td
            =link_to do
              %p #{@sell_product_brand.name}
        %tr
          %th 商品の状態
          %td
            %p #{@product.status}
        %tr
          %th 配送料の負担
          %td
            %p #{@product.delivery_fee_owner}
        %tr
          %th 配送の方法
          %td
            %p #{@product.shipping_method}
        %tr
          %th 配送元地域
          %td
            =link_to do
              %p 兵庫県
        %tr
          %th 発送日の目安
          %td
            %p #{@product.delivery_date}
  .price-box
    %h1
      %span.price ¥ #{@product.price}
      %span.tax (税込)
      %span.tax-include 送料込み
  .buy-btn 購入画面に進む
  .product-detail #{@product.info}
  .product-btn.clearfix
    .product-btn-left
      %button.like-btn
        %i.like
        %p.text いいね！
        %p.like-count 13
      =link_to "",class: 'report' do
        %i.flag
        %p.text 不適切な商品の報告
    .product-btn-right
      =link_to "" do
        %i.lock
        %p.text あんしん・あんぜんへの取り組み

= render "product_comment"

%ul.nav-item-link.clearfix
  %li.nav-prev
    =link_to "",class: 'prev' do
      %i.prev-icon
      %p.text ディズニーヴィランズ 2個セット バッジ バッチ Villains 2018
  %li.nav-next
    =link_to "",class: 'next' do
      %p.text バーにかかってきた電話/東 直己
      %i.prev-icon-right

.social-media-box
  %ul.social-media-icons
    %li.social-media-icon
      =link_to "" do
        %i.facebook-icon
    %li.social-media-icon
      =link_to "" do
        %i.twitter-icon
    %li.social-media-icon
      =link_to "" do
        %i.line-icon
    %li.social-media-icon
      =link_to "" do
        %i.pinterest-icon

= render "product_user-item", user: @sell_user, sell_other_products: @sell_other_products, brand: @sell_product_brand, category: @sell_product_category, related_items: @related_items

= render "home/footer"
